{% extends '@LyssalBlog/base.html.twig' %}

{% block content %}
    <div class="lyssal-blog">
        <div class="lyssal-blog__properties">
            <h1 class="lyssal-blog__title">{{ appellation(blog) }}</h1>
        </div>
        {{ include('@LyssalBlog/post/_list.html.twig') }}
    </div>
{% endblock %}
