{%- if post.accessibleCategories|length > 0 -%}
    <nav class="lyssal-blog-post-categories">
        <ul>
            {%- for category in post.accessibleCategories -%}
                <li>{{ appellation_html(category) }}</li>
            {%- endfor -%}
        </ul>
    </nav>
{%- endif -%}
