{% extends '@LyssalBlog/base.html.twig' %}

{% block content %}
    <div class="lyssal-blog-category">
        <div class="lyssal-blog-category__properties">
            <h1 class="lyssal-blog-category__title">{{ appellation(category) }}</h1>
        </div>
        {{ include('@LyssalBlog/post/_list.html.twig') }}
    </div>
{% endblock %}
